<%- include('./partials/headAndNav.ejs') %>
    <h1>Welcome to the Top NBA Players of All Time</h1>
    <img src="https://fadeawayworld.net/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_700/MTg2NjQzMzgyNDczMzM2NDk0/271383085_329353018900438_3928173036395260700_n.webp">
<%- include('./partials/footer.ejs') %>